/* Tag selector - Select all the h1s and apply the folloqwing rules */
header, main, footer {
 background-color: greenyellow;
}

/* GENERALLY CHILD SELECTOR: Select any/all descendants that are */
header div {
   display: flex;
   align-items: centers;
   /* For spacing use, use rems */
   gap: 1rem;
}

header {
display: flex;
flex-direction: column;
align-items: center;
}
h1{
    /* For font-sizes, use ems. */
font-size: 3em;
font-weight: 700;
}
nav ul {
display: flex;
gap: 1rem;
}

nav a {
text-decoration: none;

}


